<!--footer class="page-footer teal"-->
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">La french squad à l'origine:</h5>
        <p class="grey-text text-lighten-4">
          La French Squad a vu le jour le 29 septembre 2015. Fondée dans un esprit convivial et communautaire, nous nous sommes découvert une âme de compétiteurs, lorsque les classements de guilde sont implémentés, en devenant les n°1 Français.
          Aujourd'hui la French Squad c'est une communauté de 60 joueurs répartis dans trois guildes (french squad, french squad V2 et carottesquad),  unis sur Slack, et un site web rempli de conseils afin de faire vivre la communauté francophone du jeu.
        </p>
      </div>
      <div class="col l1 s12">
        &nbsp;
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Liens utiles</h5>
        <ul>
          <li><a class="white-text" href="https://www.facebook.com/groups/frenchsquad/" target="_blank"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a></li>
          <li><a class="white-text" href="https://neverdie.slack.com" target="_blank"><i class="fa fa-slack fa-fw"></i> Slack</a></li>
          <li><a class="white-text" href="http://twiter.com" target="_blank"><i class="fa fa-twitter-square fa-fw"></i> Twiter</a></li>
          <li><a class="white-text" ui-sref="app.contactus"><i class="fa fa-envelope-o fa-fw"></i> Contactez nous </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Powered by French Squad &copy;
    </div>
  </div>
<!--/footer-->
