<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">La french squad à l'origine:</h5>
        <p class="grey-text text-lighten-4">
          Texte sur la french squad et sa genèse<br>
          - 60 membres environs
           <br>
          - Hauts niveaux en défi (niveau 30)
        </p>
      </div>
      <div class="col l1 s12">
        &nbsp;
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Liens utiles</h5>
        <ul>
          <li><a class="white-text" href="#!"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-slack fa-fw"></i> Slack</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-twitter-square fa-fw"></i> Twiter</a></li>
          <li><a class="white-text" href="#!"><i class="fa fa-envelope-o fa-fw"></i> Contactez nous </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Powered by French Squad &copy;
    </div>
  </div>
</footer>
