<div ng-controller="MenuController">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#">LONGUE PORTEE</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Chasseur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Tireur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Soldat</a></li>
  <li class="divider"></li>
  <li><a href="#">CORPS A CORPS</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Scout</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Cogneur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Guerrier</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#">DEBUTANTS</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le camp</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le bruit</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Coups spéciaux</a></li>
  <li class="divider"></li>
  <li><a href="#">CONFIRMES</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Les quêtes</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le PVP</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  <li><a href="#">LONGUE PORTEE</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Chasseur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Tireur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Soldat</a></li>
  <li class="divider"></li>
  <li><a href="#">CORPS A CORPS</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Scout</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Cogneur</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Guerrier</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
  <li><a href="#">DEBUTANTS</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le camp</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le bruit</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Coups spéciaux</a></li>
  <li class="divider"></li>
  <li><a href="#">CONFIRMES</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Les quêtes</a></li>
  <li><a href="#">&nbsp;&nbsp;&nbsp;Le PVP</a></li>
</ul>
<nav class="white" role="navigation">
  <div class="nav-wrapper paddinglr">
    <a id="logo-container" href="/" class="brand-logo">French Squad</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="dropdown-button" data-activates="dropdown1">Classes de joueurs<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown2">Nos tutoriels<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#">Astuces de défi</a></li>
      <li><a href="#">Se connecter</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#" class="dropdown-button" data-activates="dropdown3">Classes de joueurs<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown4">Tutoriels<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#">Astuces de défi</a></li>
      <li><a href="#">Se connecter</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
</div>
