<div ng-controller="MenuController">
<ul id="dropdown0" class="dropdown-content">
  <li><a ui-sref="app.rangedclass"><b>Distants</b></a></li>
  <li><a ui-sref="app.hunter">&nbsp;&nbsp;&nbsp;Chasseur</a></li>
  <li><a ui-sref="app.shooter">&nbsp;&nbsp;&nbsp;Tireur</a></li>
  <li><a ui-sref="app.soldier">&nbsp;&nbsp;&nbsp;Soldat</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.meleeclass"><b>Corps à Corps</b></a></li>
  <li><a ui-sref="app.scout">&nbsp;&nbsp;&nbsp;Eclaireur</a></li>
  <li><a ui-sref="app.bruiser">&nbsp;&nbsp;&nbsp;Cogneur</a></li>
  <li><a ui-sref="app.warrior">&nbsp;&nbsp;&nbsp;Guerrier</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.heroes"><b>Les héros</b></a></li>
</ul>

<ul id="dropdown1" class="dropdown-content">
  <li><a ui-sref="app.ranged">Longue portée</a></li>
  <li><a ui-sref="app.melee">Mélée</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a ui-sref="app.beginner"><b>Débutants</b></a></li>
  <li><a ui-sref="app.camp">&nbsp;&nbsp;&nbsp;Le camp</a></li>
  <li><a ui-sref="app.noise">&nbsp;&nbsp;&nbsp;Le bruit</a></li>
  <li><a ui-sref="app.gamemode">&nbsp;&nbsp;&nbsp;Modes de jeu</a></li>
  <li><a ui-sref="app.critical">&nbsp;&nbsp;&nbsp;Coups spéciaux</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.veteran"><b>Confirmés</b></a></li>
  <li><a ui-sref="app.quest">&nbsp;&nbsp;&nbsp;Les quêtes</a></li>
  <li><a ui-sref="app.pvp">&nbsp;&nbsp;&nbsp;Le PVP</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  <li><a ui-sref="app.rangedclass"><b>Distants</b></a></li>
  <li><a ui-sref="app.hunter">&nbsp;&nbsp;&nbsp;Chasseur</a></li>
  <li><a ui-sref="app.shooter">&nbsp;&nbsp;&nbsp;Tireur</a></li>
  <li><a ui-sref="app.soldier">&nbsp;&nbsp;&nbsp;Soldat</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.meleeclass"><b>Corps à Corps</b></a></li>
  <li><a ui-sref="app.scout">&nbsp;&nbsp;&nbsp;Eclaireur</a></li>
  <li><a ui-sref="app.bruiser">&nbsp;&nbsp;&nbsp;Cogneur</a></li>
  <li><a ui-sref="app.warrior">&nbsp;&nbsp;&nbsp;Guerrier</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.heroes"><b>Les héros</b></a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
  <li><a ui-sref="app.ranged">Longue portée</a></li>
  <li><a ui-sref="app.melee">Mélée</a></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
  <li><a ui-sref="app.beginner"><b>Débutants</b></a></li>
  <li><a ui-sref="app.camp">&nbsp;&nbsp;&nbsp;Le camp</a></li>
  <li><a ui-sref="app.noise">&nbsp;&nbsp;&nbsp;Le bruit</a></li>
  <li><a ui-sref="app.critical">&nbsp;&nbsp;&nbsp;Coups spéciaux</a></li>
  <li class="divider"></li>
  <li><a ui-sref="app.veteran"><b>Confirmés</b></a></li>
  <li><a ui-sref="app.quest">&nbsp;&nbsp;&nbsp;Les quêtes</a></li>
  <li><a ui-sref="app.pvp">&nbsp;&nbsp;&nbsp;Le PVP</a></li>
</ul>
<div class="navbar">
<nav class="white" role="navigation">
  <div class="nav-wrapper paddinglr">
    <a id="logo-container" ui-sref="app" class="brand-logo">French Squad</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="dropdown-button" data-activates="dropdown0">Personnages<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown1">Equipements<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tutoriels&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <!--li><a href="/#!/evaluator">Evaluateur</a></li-->
      <li><a ui-sref="app.login">Se connecter</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#" class="dropdown-button" data-activates="dropdown3">Personnages<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown4">Equipements<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="#" class="dropdown-button" data-activates="dropdown5">Tutoriels<i class="material-icons right">arrow_drop_down</i></a></li>
      <!--li><a href="/#!/evaluator">Evaluateur</a></li-->
      <li><a ui-sref="app.login">Se connecter</a></li>
    </ul>
    <a ui-sref="app" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
</div>
</div>
