<div class="container" ng-controller="JoinusController">
  <div ncy-breadcrumb></div>
  <p class="hide-on-med-and-down">&nbsp;<p>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="email" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">visibility</i>
          <input id="icon_password" type="password" class="validate">
          <label for="icon_password">Mot de passe</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">visibility</i>
          <input id="icon_passwordconf" type="password" class="validate">
          <label for="icon_passwordconf">Confirmation du mot de passe</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">contacts</i>
          <input id="icon_pseudo" type="text" class="validate">
          <label for="icon_pseudo">Pseudo dans le jeu</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">room</i>
          <input id="icon_city" type="text" class="validate">
          <label for="icon_city">Ville</label>
        </div>
        <div class="input-field col s8">
          <p class="right-align">
            <button class="btn waves-effect waves-light" type="button" name="action">Valider</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
