<div class="container" ng-controller="MeleeController">
  <div ncy-breadcrumb></div>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="images/luck.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/dmg.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/luck.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/dmg.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/luck.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/dmg.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/luck.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>

        <li class="collection-item avatar">
          <img src="images/dmg.png" alt="" class="circle">
          <span class="title">Title</span>
          <p>
            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur. <br>
            An quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
